
$font-family--primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Lato', sans-serif;

$color-primary: #3F51B5;
$color-dark: #303f9f;
$color-light: #c5cae9;

$color-compliment: #b5a33f;